<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue-快速入门</title>
    <script src="js/vue.js"></script>
</head>
<body>
    
    <div id="app">
        <div v-for="addr in addrs">{{addr}}</div>

        <hr>
        
        <div v-for="(addr,index) in addrs">{{index + 1}} : {{addr}}</div>
    </div>
</body>
<script>
    new Vue({
        el:"#app",//vue接管区域
        data: {
            addrs:["北京","上海","西安","成都","深圳"]
        },
        methods: {
            
        }
    })
</script>
</html>